html {
    height: 100%;
    body {
        font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        touch-action: manipulation;
        height: 100%;
    }
}

.app {
    @include flexBox(column, flex-start, flex-start);
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1280px;
    min-height: 720px;
    background: url('../img/pc/bg.jpg') no-repeat center;
    background-size: cover;

    .navigator {
        @include flexBox(row, flex-start, space-between);
        @include boxSizing;
        width: 100%;
        padding-right: 2rem;
        min-height: 80px;
    }

    .container {
        @include flexBox(row, flex-start, flex-start);
        @include boxSizing;
        flex: 1;
        width: 100%;
        height: 100%;

        .aside {
            @include flexBox(column, flex-start, center);
            @include boxSizing;
            width: 30%;
            height: 100%;
            min-width: 300px;
            z-index: 2;
        }

        .main {
            @include flexBox(column, flex-start, flex-start);
            @include boxSizing;
            width: 100%;
            height: 100%;

            .games {
                @include flexBox(row, flex-start, flex-start);
                @include boxSizing;
                width: 100%;
                height: 100%;
                padding: 0 4rem 5rem;
                @for $i from 1 through 3 {
                    .game_0#{$i} {
                        width: calc(100%/3);
                        height: 100%;
                        background: url('../img/pc/game0#{$i}.png') no-repeat center;
                        background-size: contain;
                    }
                }
            }
        }
    }

    .footer {
        @include flexBox(row, flex-end, flex-end);
        @include boxSizing;
        width: 100%;
        background: linear-gradient(#082733, #07222d);
    }
}

