$menu_items: "payment", "reward", "equipment", "items", "mail";

$top_menu_component: (
    payment: (
        attr: "payment",
        bg: "top_menu_01.png",
    ),
    reward: (
        attr: "reward",
        bg: "top_menu_02.png",
    ),
    equipment: (
        attr: "equipment",
        bg: "top_menu_03.png",
    ),
    items: (
        attr: "items",
        bg: "top_menu_04.png",
    ),
    mail: (
        attr: "mail",
        bg: "top_menu_05.png",
    ),
);

@mixin topMenuAttachment {
    position: absolute;
    right: 5%;
    bottom: 10%;
    width: 3.5vh;
    height: 3.5vh;
    min-width: 18px;
    min-height: 18px;
}

.navigator {
    @include flexBox(row, flex-start, space-between);
    @include boxSizing;
    width: 100%;
    min-height: 10vh;
    border: 1px solid;
    ul.top_menu {
        @include flexBox(row, center, flex-start);
        @each $key, $value in $top_menu_component {
            $attr: map-get($value, attr);
            $bg: map-get($value, bg);
            li {
                position: relative;
                min-width: 100px;
                min-height: 100px;
                width: 12vh;
                height: 12vh;
                
                &:hover {
                    transform: scale(1.2);
                }
                &::after {
                    content: "";
                    @include topMenuAttachment;
                }
                &.has_new::after {
                    background: url("../img/pc/new.svg") no-repeat center;
                    background-size: contain;
                }
                &.has_count span {
                    @include topMenuAttachment;
                    @include flexBox(row, center, center);
                    color: #fff;
                    font-size: 0.8em;
                    font-weight: bold;
                    background: url('../img/pc/count_bg.svg') no-repeat center;
                    background-size: contain;
                }
                cursor: pointer;
                &[data-top-menu="#{$attr}"] {
                    background: url("../img/pc/#{$bg}") no-repeat center;
                    background-size: contain;
                }
            }
        }
    }
}
